In [3]:
# 1,加载数据：
import pandas as pd

data = pd.read_excel('../DataSets/test_data.xlsx')

print(data.shape)
data.head()

(3000, 6)

     id  gender   age  edu custom_amt   order_date
0   890  female  43.0  NaN   ￥2177.94  2018年12月25日
1  2391    male  52.0  NaN   ￥2442.18   2017年5月24日
2  2785    male  39.0  NaN    ￥849.79   2018年5月15日
3  1361  female  26.0  NaN   ￥2482.22   2018年5月16日
4   888  female  61.0   本科    ￥2027.9   2018年1月21日

In [ ]:
# 判断各变量中是否存在缺失值
data3.isnull().any(axis = 0)

# 各变量中缺失值的数量
data3.isnull().sum(axis = 0)

# 各变量中缺失值的比例
data3.isnull().sum(axis = 0)/data3.shape[0]